asgiref==3.11.0
cffi==2.0.0
cryptography==46.0.3
dj-database-url==3.1.2
Django==5.2.8
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
paho-mqtt==2.1.0
psycopg2-binary==2.9.11
pycparser==2.23
PyJWT==2.10.1
PyMySQL==1.1.2
sqlparse==0.5.4
tzdata==2025.2

gunicorn
psycopg2-binary

